# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: None

[Unit]
Requires=plasma-login-kwin_wayland.service
BindsTo=plasma-login-kwin_wayland.service
Requires=plasma-login.service
BindsTo=plasma-login.service

Wants=plasma-wallpaper.service
